:root {
    --transition: all 0.3s ease-in-out;
    --black: black;
    --white: white;
    --rgba-black: 0, 0, 0;
}

body.dark-mode {
    --transition: all 0.3s ease-in-out;
    --black: white;
    --white: black;
  }


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--black);
}

html {
    scroll-behavior: smooth;
}

section,
footer {
    min-height: 100vh;
    padding-top: 4rem;
}

main {
    position: relative;
    background-color: var(--white);
}

h2 {
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    backdrop-filter: blur(5px);
}

#toggle-theme {
    border: none;
    cursor: pointer;
    background:none;
}

.navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar-block__menu {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar-block__menu a {
    padding: 7px;
    text-decoration: none;
    position: relative;
}

.navbar-block__menu a::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
}

.navbar-block__menu a:nth-child(1):before {
    content: "\f007";
}

.navbar-block__menu a:nth-child(2):before {
    content: "\f19d";
}

.navbar-block__menu a:nth-child(3):before {
    content: "\f07c";
}

.navbar-block__menu a:nth-child(4):before {
    content: "\3f";
}

.navbar-block__menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--black);
    transition: var(--transition);
}

.navbar-block__menu a:hover::after {
    width: 100%;
    transition: var(--transition);
}

.navbar-block__socials {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navbar-block__socials a {
    text-decoration: none;
    padding: 7px;
    color: var(--black);
    position: relative;
}

.navbar-block__socials a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--black);
    transition: var(--transition);
}

.navbar-block__socials a:hover::after {
    width: 100%;
    transition: var(--transition);
}

.about-me-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-block__desc {
    width: 50%;
}

.about-me-block__photo {
    width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--black);
}

.edu-work-brig-slider {
    margin-top: 4rem;
    height: 500px;
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
}

.edu-work-brig-slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    border-radius: 100px;
    background-color: var(--black);
}

.edu-work-brig-slider-item {
    position: relative;
    text-align: center;
    transition: var(--transition);
    cursor: pointer;
}

.edu-work-brig-slider-item__title, .edu-work-brig-slider-item__date {
    scale: 1;
    transition: var(--transition);
}

.edu-work-brig-slider-item:hover .edu-work-brig-slider-item__title,
.edu-work-brig-slider-item:hover .edu-work-brig-slider-item__date {
    scale: 1.05;
    filter: drop-shadow(0 0 10px var(--black));
    transition: var(--transition);
}

.edu-work-brig-slider-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1;
}

.edu-work-brig-slider-item::before {
    content: "";
    position: absolute;
    top: 41%;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--black);
}

.edu-work-brig-slider-item:nth-child(even)::before {
    left: -4px;
    right: auto;
}

.edu-work-brig-slider-item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: 2px;
    background-color: var(--black);
}

.edu-work-brig-slider-item:nth-child(even)::after {
    left: 0;
    right: auto;
}

.edu-work-brig-slider-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2;
}

.edu-work-brig-slider-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3;
}

.edu-work-brig-slider-item__date {
    color: gray;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-black), 0.3);
    display: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.modal-active {
    display: flex;
}

.modal-block {
    background: var(--white);
    max-width: 60%;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--black);
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.modal-block__link {
    text-decoration: none;
    transition: var(--transition);
    position: relative;
}

.modal-block__link::before {
    content: "\f0c1";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
}

.modal-block__link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--black);
    transition: var(--transition);
}

.modal-block__link:hover::after {
    width: 100%;
    transition: var(--transition);
}

.modal-block__desc {
    line-height: 1.5;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 10px 5px;
}

.skills__title, .hobbies__title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hobbies-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hobbies-card {
    padding: 5px;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    position: relative;
    display: flex;
    align-items: center;
}

.hobbies-card::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
    width: auto;
}
.hobbies-card:nth-child(1)::before {
    content: "\f004";
}

.hobbies-card:nth-child(2)::before {
    content: "\f51c";
}

.hobbies-card:nth-child(3)::before {
    content: "\f086";
}

.hobbies-card:nth-child(4)::before {
    content: "\e69b";
}