:root {
    --transition: all 0.3s ease-in-out;
    --black: black;
    --white: white;
    --rgba-black: 0, 0, 0;
}

body.dark-mode {
    --transition: all 0.3s ease-in-out;
    --black: white;
    --white: black;
}


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--black);
}

section,
footer {
    padding-top: 4rem;
}

main {
    position: relative;
    background-color: var(--white);
}

h2 {
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    backdrop-filter: blur(5px);
}

#toggle-theme {
    border: none;
    cursor: pointer;
    background: none;
}

.navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar-block__menu {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar-mobile__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
}

.navbar-block__menu li {
    padding: 7px;
    position: relative;
    cursor: pointer;
}

.navbar-block__menu li a {
    text-decoration: none;
}

.nav-text {
    margin-left: 10px;
}

.navbar-block__menu li::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.navbar-block__menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--black);
    transition: var(--transition);
}

.navbar-block__menu li:hover::after {
    width: 100%;
    transition: var(--transition);
}

.navbar-block__socials {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navbar-block__socials a {
    text-decoration: none;
    padding: 7px;
    color: var(--black);
    position: relative;
}

.navbar-block__socials a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--black);
    transition: var(--transition);
}

.navbar-block__socials a:hover::after {
    width: 100%;
    transition: var(--transition);
}

.navbar-burger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 7px;
    z-index: 3;
}

.about-me-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-block__desc {
    width: 50%;
}

.about-me-block__photo {
    width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--black);
}

.edu-work-brig-slider {
    margin-top: 4rem;
    height: 500px;
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
}

.edu-work-brig-slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    border-radius: 100px;
    background-color: var(--black);
}

.edu-work-brig-slider-item {
    position: relative;
    text-align: center;
    transition: var(--transition);
    cursor: pointer;
}

.edu-work-brig-slider-item__title,
.edu-work-brig-slider-item__date {
    scale: 1;
    transition: var(--transition);
}

.edu-work-brig-slider-item:hover .edu-work-brig-slider-item__title,
.edu-work-brig-slider-item:hover .edu-work-brig-slider-item__date {
    scale: 1.05;
    text-shadow: 0 0 15px var(--black);
    transition: var(--transition);
}

.edu-work-brig-slider-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1;
}

.edu-work-brig-slider-item::before {
    content: "";
    position: absolute;
    top: 41%;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--black);
}

.edu-work-brig-slider-item:nth-child(even)::before {
    left: -4px;
    right: auto;
}

.edu-work-brig-slider-item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: 2px;
    background-color: var(--black);
}

.edu-work-brig-slider-item:nth-child(even)::after {
    left: 0;
    right: auto;
}

.edu-work-brig-slider-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2;
}

.edu-work-brig-slider-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3;
}

.edu-work-brig-slider-item__date {
    color: gray;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-black), 0.3);
    display: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.modal-active {
    display: flex;
}

.modal-block {
    background: var(--white);
    max-width: 60%;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--black);
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.modal-block__link {
    text-decoration: none;
    transition: var(--transition);
    position: relative;
}

.modal-block__link::before {
    content: "\f0c1";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
}

.modal-block__link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--black);
    transition: var(--transition);
}

.modal-block__link:hover::after {
    width: 100%;
    transition: var(--transition);
}

.modal-block__desc {
    line-height: 1.5;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 10px 5px;
}

.skills__title,
.hobbies__title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hobbies-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hobbies-card {
    padding: 5px;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    position: relative;
    display: flex;
    align-items: center;
}

.hobbies-card::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
    width: auto;
}

.hobbies-card:nth-child(1)::before {
    content: "\f004";
}

.hobbies-card:nth-child(2)::before {
    content: "\f51c";
}

.hobbies-card:nth-child(3)::before {
    content: "\f086";
}

.hobbies-card:nth-child(4)::before {
    content: "\e69b";
}

.project-card {
    padding: 1rem;
    border: 1px solid var(--black);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--black);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
    transition: var(--transition);
}

.project-card:hover {
    scale: 1.02;
    transition: var(--transition);
}

.project-card__status i {
    margin-right: 10px;
}

.project-card__status {
    font-weight: bold;
}

.project-card a {
    text-decoration: none;
    position: relative;
    margin-right: 30px;
    padding: 5px;
    position: relative;
}

.project-card a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--black);
    transition: var(--transition);
}

.project-card a:hover::after {
    width: 100%;
    transition: var(--transition);
}

.github-link::before {
    content: "\f0c1";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
}

.page-link::before {
    content: "\f0ac";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
}

.picture-link::before {
    content: "\f06e";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
}

.pi1-modal-box-block {
    max-height: 70%;
}

footer {
    padding-bottom: 4rem;
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer-block-links {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.footer-block-links__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-block-links__socials {
    display: flex;
    gap: 1rem;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea,
#form-button {
    width: 100%;
    padding: 3px;
    font-size: 14px;
    color: black;
    border: 1px solid black;
}

#form-button {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .edu-work-brig-slider-item::after {
        width: 15%;
    }

    .pi4-modal-box-block {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {

    .navbar {
        backdrop-filter: blur(10px);
    }

    .navbar-desktop__menu {
        display: none;
    }

    .navbar-block:has(.navbar-mobile__menu) {
    flex-direction: column-reverse;
}

    .navbar-burger {
        display: block;
        align-self: flex-end;
    }

    /* skrýt social ikonky na mobilu */
    .navbar-block__socials {
        display: none;
    }

    .about-me-block {
        flex-direction: column-reverse;
    }

    .about-me-block__desc {
        width: 100%;
        margin-top: 4rem;
    }

    .footer-block {
        flex-direction: column-reverse;
    }

    .footer-block-links,
    form {
        width: 100%;
    }

    .footer-block-links {
        margin-top: 4rem;
    }

    .edu-work-brig-slider-item::after {
        width: 5%;
    }

    .modal-block {
        max-width: 90%;
    }

    .project-card-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .pi2-modal-box-block,
    .pi3-modal-box-block {
        max-width: 90%;
    }

}